@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-Prompt: "Prompt", sans-serif;
  --font-Noto: "Noto Sans", sans-serif;
}

/* Default font for English */
:root {
  font-family: "Noto Sans", sans-serif;
  --chat--color-primary: #051d40;
  --chat--color-primary-shade-50: #051d60;
  --chat--color-primary-shade-100: #051d80;
  --chat--color-secondary: #fbc646;
  --chat--color-secondary-shade-50: #fbc666;
  --chat--color-white: #ffffff;
  --chat--color-light: #f2f4f8;
  --chat--color-light-shade-50: #e6e9f1;
  --chat--color-light-shade-100: #c2c5cc;
  --chat--color-medium: #d2d4d9;
  --chat--color-dark: #101330;
  --chat--color-disabled: #777980;
  --chat--color-typing: #404040;
}

/* Styles for Thai language */
.lang-th {
  font-family: "Prompt", sans-serif;
  line-height: 1.8;
}

/* Adjust line height for Thai text */
.lang-th h1,
.lang-th h2,
.lang-th h3 {
  line-height: 1.4;
}

.lang-th p {
  line-height: 1.8;
}

/* General app styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
